*.suo
*.bak
/.vs
/packages
/Compos/bin
/Compos/obj
/ComposGH/bin
/ComposGH/obj
ComposGHConverter/obj
ComposGHConverter/bin
/ComposTests/bin
/ComposTests/obj
/ComposGHTests/bin
/ComposGHTests/obj
/IntegrationTests/bin
/IntegrationTests/obj
/ComposGH/Tests/bin
/ComposGH/Tests/obj
/ConverterTests/bin
/ConverterTests/obj
*.log
/ComposGH.sln.DotSettings.user
