*.suo
*.bak
/.vs
.vs/
/.vs/ComposGH/DesignTimeBuild/.dtbcache.v2
/packages
/Compos/bin
/Compos/obj
/ComposGH/bin
/ComposGH/obj
/ComposGH/Converters/obj
/ComposGH/Converters/bin
/ComposTests/bin
/ComposTests/obj
/ComposGHTests/bin
/ComposGHTests/obj
/IntegrationTests/bin
/IntegrationTests/obj