################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/slnx.sqlite
/ComposGH/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/packages
/ComposGH/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/ComposGH/obj/Debug/ComposGH.csproj.AssemblyReference.cache
